.admin {
    position: fixed;
    height: 25px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #000;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.admin a {
    color: #fff;
}

#header {
    margin-top: 25px;
}