p {
    margin: 0px 0px 15px 0px;
    color: #3b3f46;
    line-height: 26px;
    font-family: HelRoman, sans-serif;
    text-align: justify;
}

.game-type.game-type-avtomat img:nth-child(1) {
    border: 0;
}

.block-all.chr-casino-block .table-game-col .table-game-row:nth-child(2) img {
    border-radius: 3px;
    margin: 0;
}

.main-nav .disabled {
    display: none !important;
}

#main-content .block-casino .float-right a {
    margin-top: 0;
    text-decoration: none !important;
}

.sb-in-filters .label .sort-on.sort-pop span.sort-in {
    /*background: #2c374a url(../img/left/sort_stars_no.png) center no-repeat;*/
}

.sb-in-filters .label .sort-on.sort-pop span.sort-stars-active-top {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_stars_active-top.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-pop span.sort-stars-active-bot {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_stars_active-bot.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-pop span.sort-stars-no-top {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_stars_no-top.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-pop span.sort-stars-no-bot {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_stars_no-bot.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-new span.sort-in {
    /*background: #2c374a url(../img/left/sort_stars_no.png) center no-repeat;*/
}

.sb-in-filters .label .sort-on.sort-new span.sort-new-active-top {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_new_active-top.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-new span.sort-new-active-bot {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_new_active-bot.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-new span.sort-new-no-top {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_new_no-top.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-new span.sort-new-no-bot {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_new_no-bot.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-alph span.sort-in {
    /*background: #2c374a url(../img/left/sort_a_no.png) center no-repeat;*/
}

.sb-in-filters .label .sort-on.sort-alph span.sort-alph-active-top {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_a_active-top.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-alph span.sort-alph-active-bot {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_a_active-bot.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-alph span.sort-alph-no-top {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_a_no-top.png) center no-repeat;
}

.sb-in-filters .label .sort-on.sort-alph span.sort-alph-no-bot {
    box-shadow: inset -1px 1px 0px #445164;
    background: #354257 url(../img/left/sort_a_no-bot.png) center no-repeat;
}

.game-horizontal .game .game-in {
    min-height: 0;
}

.games .game .game-in span.game-set {
    font-weight: 100;
}

.btn-load {
    cursor: pointer;
    width: 200px;
    height: 40px;
}

#scrollup {
    position: fixed;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    opacity: 0.6;
    border-radius: 5px;
    right: 10%;
    bottom: 25px;
    text-align: center;
    background: #ccc;
    display: none;
    cursor: pointer;
    z-index: 100;
}

#scrollup img {
    width: 42px;
    height: 34px;
}

@media screen and (max-width: 1000px) {
    #scrollup {
        right: 5%;
    }
}

.bl-sort > div {
    padding-top: 10px;
}

.big-game object, .big-game embed {
    width: 100% !important;
    height: 480px !important;
}

#FLASHMOVIEDIV {
    width: 100%;
    height: 100%;
}

[data-href] {
    cursor: pointer;
}

.games .game .game-in span.game-title {
    height: 27px;
}