.slider-game-page ul li img {
    width: 100%;
}

.slider-game-page ul li {
    list-style: none;
    margin: 0px 0px 35px 15px;
}

.slider-game-page {
    position: relative;
}

.slider-game-page .slider-gp-next,
.slider-game-page .slider-gp-prev {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    margin-top: 0px;
    background-color: #EDEEF0;
    border-radius: 5px;
}

.slider-game-page .slider-gp-next {
    right: 0px;
}

.slider-game-page .slider-gp-prev {
    left: 0px;
}

#scrollup {
    /*display: none;*/
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #2b3648;
    width: 50px;
    height: 50px;
    z-index: 100;
    border-radius: 5px;
    opacity: 0.7;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}

#scrollup img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#scrollup:hover {
    opacity: 0.6;
}

.games .game .game-in {
    min-height: 120px;
}

.games .game .game-in .game-img {
    overflow: hidden;
    position: relative;
}

.games .game .game-in .game-img .btn-red {
    position: absolute;
    top: -50px;
    left: 5%;
    margin-top: -15px;
    z-index: 51;
}

.games .game .game-in:hover .game-img .btn-red {
    top: 50%;
}

.games .game .game-in .game-img .game-img-grey img {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.games .game .game-in:hover .game-img .game-img-grey img {
    filter: grayscale(100%);
}

ul.breadcrumbs {
    height: 50px;
    width: 100%;
}

ul.breadcrumbs li {
    float: left;
    line-height: 40px;
}

ul.breadcrumbs > ::before {
    content: ">";
    color: #ccc;
    top: -1px;
    text-transform: none;
    margin: 0 .75rem;
    position: relative;
}

.breadcrumbs > :first-child::before {
    content: " ";
    margin: 0;
}

ul.breadcrumbs > li > a {
    font-size: 13px;

    text-transform: none;
    color: #3889b4;
}

ul.breadcrumbs > li:last-child > a {
    color: #fc2e36;
}

@media screen and (max-width: 700px) {
    ul.breadcrumbs {
        display: none;
    }
}

#header ul.main-menu li ul {
    position: absolute;
    width: 1355px;;
    top: 90px;
    left: 95px;
    background: #2b3648;
    z-index: 10;
    display: none;
    border-bottom: solid 1px #5b6c89;
}

#header ul.main-menu li.hover-show-list:hover ul {
    display: block;
}

#header ul.main-menu li ul li a {
    height: 30px;
    line-height: 28px;
    font-size: 13px;
}

#header ul.main-menu li ul li a.active {
    background: #38455b;
}

#header ul.main-menu li ul li a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1250px) {
    #header ul.main-menu {
        right: 0px;
        width: 300px;
    }

    #header ul.main-menu li a {
        font-size: 14px;
        border-bottom: solid 1px #3e4a5c;
    }

    #header ul.main-menu li ul {
        position: static;
    }

    #header ul.main-menu li.hover-show-list:hover ul {
        display: none;
    }

    #header ul.main-menu li ul {
        border-top: solid 1px #5b6c89;
        background: #354258;
    }

    #header ul.main-menu li ul li a {
        height: auto;
        line-height: normal;
        font-size: 12px;
        padding: 8px 20px;
    }
}