@media screen and (max-width: 1450px) {
	#header {
		width: 100%;
		top: 0px;
		left: 0px;
	}

	.select-country {
		margin-right: 30px;
		width: 240px;
	}

	.select-country-text {
		width: 240px;
	}

	.slider-text {
		padding: 20px 0px 30px 30px;
	}

	.slider-text-sp {
		padding: 15px 0 30px 0;
	}

	#header ul.main-menu li a span:first-child {
		display: none;
	}

	#header ul.main-menu li a span:last-child {
		margin-left: 0px;
	}
}

@media screen and (max-width: 1300px) {
	#main-content .news-page .games.game-horizontal .game .game-in .nb-floats .float-left,
	#main-content .news-page .games.game-horizontal .game .game-in .nb-floats .float-right {
		float: none;
		width: 100%;
	}

	#main-content .news-page .games.game-horizontal .game .game-in .nb-floats .float-right {
		text-align: left;
	}

	#main-content .news-page .games.game-horizontal .game .game-in .nb-floats .float-right li {
		margin-left: 0px;
		margin-right: 6px;
		margin-top: 10px;
	}

	.slider-text-sp {
		padding: 15px 0 20px 0;
	}
}

@media screen and (max-width: 1250px) {
	#header ul.main-menu {
		margin-left: 30px;
	}

	#header a.logo {
		margin-left: 30px;
	}

	.slider-text h1 {
		font-size: 38px;
		line-height: 40px;
	}

	.form-hide {
		display: block;
	}

	#header ul.main-menu {
		display: none;
		position: absolute;
		top: 90px;
		right: 250px;
		margin: 0px;
		background: #2B3648;
		height: auto;
	}

	#header ul.main-menu li {
		display: block;
		margin: 0px;
	}

	#header ul.main-menu li a span:last-child {
		margin: 0px;
	}

	#header ul.main-menu li a {
		display: block;
		padding: 10px 15px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		height: auto;
		line-height: normal;
	}

	#header ul.main-menu li.separate {
		display: none;
	}

	#header ul.main-menu li a:hover,
	#header ul.main-menu li a.active {
		background: #172338;
		color: #fff;
		box-shadow: none;
	}
}

@media screen and (max-width: 1150px) {
	#header ul.main-menu li a span:first-child {
		display: none;
	}

	#header ul.main-menu {
		margin-left: 20px;
	}

	.slider-text-sp {
		padding: 5px 0 15px 0;
	}

	.slider-text a.btn-green {
		height: 42px;
		line-height: 40px;
	}

	.contacts-form .label.cf-button span {
		font-size: 12px;
	}
}

@media screen and (max-width: 1000px) {

	#main-content .float-right {
		width: 97%;
		float: none;
		text-align: left;
	}

	.block-sidebar {
		display: inline-block;
		vertical-align: top;
		width: 46%;
	}

	.block-sidebar:nth-child(2n) {
		margin-left: 5%;
	}

	#main-content .float-left {
		width: 97%;
		float: none;
	}

	.slider-text-sp {
		padding: 5px 0 10px 0;
	}

	.slider-text a.btn-green {
		height: 50px;
		line-height: 46px;
	}

	#footer .footer-center ul {
		display: block;
		float: none;
		margin-left: 0px;
	}

	#footer .footer-center ul li {
		padding-top: 20px;
	}

	.footer-copyright {
		display: block;
		padding-top: 30px;
	}

	#footer .footer-center {
		text-align: right;
	}

	#main-content .news-author .float-left {
		float: left;
		width: 50%;
	}

	#main-content .news-author .float-right {
		float: right;
		width: 50%;
	}
}

@media screen and (max-width: 800px) {
	.bx-wrapper .bx-pager, .slider-text-sp {
		display: none;
	}

	.slider-text a.btn-green {
		margin-top: 15px;
		height: 42px;
		line-height: 40px;
	}

	#header {
		height: 60px;
	}

	#header a.logo {
		width: 100px;
		margin: 11px 0px 0px 20px;
	}

	.form-hide {
		margin: 14px 20px 0px 0px;
	}

	#header ul.main-menu {
		top: 60px;
	}

	.select-country {
		margin: 10px 22px 0px 0px;
	}

	#header a.logo img {
		width: 100%;
	}

	/* Left sidebar to top (start) */

	#sidebar-left {
		width: 100%;
		height: 95px;
		top: 60px;
	}

	.show-sidebar {
		top: 60px;
	}

	.show-sidebar {
		-webkit-transform: translate(-435px, 0px);
		transform: translate(-435px, 0px);
	}

	.sd-left li {
		display: block;
		float: left;
	}

	.sd-left li span {
		width: 50px;
		height: 50px;
	}

	.sd-left li span.sd-tab,
	.sd-left li span.sd-tab-no-active {
		height: 50px;
		box-shadow: none;
	}

	.sd-left li span.sd-tab span,
	.sd-left li span.sd-tab-no-active span {
		margin-top: 0px;
		line-height: 68px;
	}

	.sd-left.sd-left-bottom li span.sd-tab span img,
	.sd-left.sd-left-bottom li span.sd-tab-no-active span img {
		width: 46%;
	}

	.sd-left {
		float: left;
	}

	.sd-left-bottom {
		width: 50px;
		float: right;
		position: static;
	}

	#sidebar-left {
		padding-top: 0px;
		height: 50px;
	}

	.show-sidebar.show-this-sd {
		-webkit-transform: translate(-95px, 0px);
		transform: translate(-95px, 0px);
	}

	.show-sidebar-in {
		top: 50px;
	}

	.sd-left li span.sd-tab span i,
	.sd-left li span.sd-tab span br {
		display: none;
	}


	/* Left sidebar to top (end) */


	#main-content {
		padding: 140px 10px 10px 25px;
	}


	.slider-text h1 {
		font-size: 30px;
		line-height: 36px;
	}

	.games .game {
		width: 50%;
	}

	.games .game:nth-child(4n+1) {
		text-align: center;
	}

	.games .game:nth-child(4n) {
		text-align: center;
	}

	#footer .footer-center ul li {
		margin: 0 15px;
	}

	.game-type {
		width: 46%;
	}

	.game-type-left,
	.game-type-right {
		float: none;
		width: 100%;
	}

	.game-type-right {
		padding-top: 15px;
	}

	.bl-red-title .bl-t-title a {
		display: none;
	}

	.table-game .table-game-col {
		float: none;
		width: 100%;
	}

	.bl-red-title-normal img {
		display: none;
	}

	#main-content .gh-text-floats .float-left,
	#main-content .gh-text-floats .float-right {
		float: none;
		width: 100%;
	}

	.games.game-horizontal .game .game-in .gh-main-text {
		width: 48%;
	}

	.games.game-horizontal .game .game-in .gh-main-btn {
		width: 25%;
	}

	.bl-red-title .bl-t-title div.bl-all-count {
		display: none;
	}

	.block-all.bonus-page .game-type-left,
	.block-all.bonus-page .game-type-right {
		width: 100%;
	}

	.contacts-form .label.cf-button span {
		display: none;
	}

	.float-left.pay-method-open .block-all.bonus-page .game-type-left,
	.float-left.pay-method-open .block-all.bonus-page .game-type-right {
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.games.game-horizontal .game .game-in .gh-main-img,
	.games.game-horizontal .game .game-in .gh-main-text,
	.games.game-horizontal .game .game-in .gh-main-btn {
		float: none;
		width: 100%;
	}

	.games.game-horizontal .game .game-in .gh-main-img,
	.games.game-horizontal .game .game-in .gh-main-text {
		margin-bottom: 15px;
	}

	#main-content .contact-page .block-all .contacts-select .float-left-c,
	#main-content .contact-page .block-all .contacts-select .float-right-c {
		float: none;
		width: 100%;
	}

	.news-page .games.game-horizontal .game .game-in .news-block {
		width: 100%;
		float: none;
	}

	.new-open-img {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	#main-content .contacts-block .float-left,
	#main-content .contacts-block .float-right {
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 600px) {
	.select-country {
		display: none;
	}

	#header ul.main-menu {
		right: 0px;
	}

	.block-sidebar {
		display: block;
		width: 97%;
	}

	.block-sidebar:nth-child(2n) {
		margin-left: 0%;
	}

	.main-slider {
		display: none;
	}

	#footer .footer-center ul li a {
		font-size: 12px;
	}

	.footer-copyright {
		margin-right: 12px;
	}

	#footer .footer-center ul li {
		margin: 0 10px;
	}

	.game-small-pr img {
		margin: 0;
		width: 100%;
	}

	#main-content .roll-blocks .float-left,
	#main-content .roll-blocks .float-right {
		float: none;
		width: 100%;
		padding: 6px 0;
	}

	#main-content .news-author .float-left {
		display: none;
	}

	#main-content .news-author .float-right {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.game-type {
		float: none;
		width: 100%;
		padding: 10px 0;
	}

	.block-all.bonus-page .game-type.game-type-img,
	.block-all.bonus-page .game-type.casino-page,
	.block-all.bonus-page .game-type.game-type-casino,
	.block-all.bonus-page .game-type.game-type-rate-casino {
		width: 100%;
		float: none;
	}

	.block-all.bonus-page .game-type.game-type-casino {
		width: 50%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 460px) {
	.games .game {
		width: 97%;
	}
}

@media screen and (max-height: 700px) {
	.sd-left li span.sd-tab-no-active {
		display: none;
	}
}

