*{outline:none;margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
@font-face{font-family:HelThin;src:url('../fonts/HelveticaNeueCyr-Thin.otf') format("opentype");}
@font-face{font-family:HelRoman;src:url('../fonts/HelveticaNeueCyr-Roman.otf') format("opentype");}
@font-face{font-family:HelMedium;src:url('../fonts/HelveticaNeueCyr-Medium.otf') format("opentype");}
body{font-family:HelRoman, sans-serif;background:#edeef0;color:#3b3f46;font-size:14px;}
html, body{height:100%;}
a{text-decoration:none;color:#3889b4;}
a:hover{text-decoration:underline;}
ul, li{list-style:none;}
ol{counter-reset:li;}
ol li{padding-left:10px;margin:0px 0px 15px 15px;line-height:26px;position:relative;}
ol > li::before{color:#fc2e36;content:counter(li);counter-increment:li;font-family:"Helvetica Neue",Arial,sans-serif;position:absolute;text-align:left;top:0px;left:-16px;width:2em;}
.block-all ul li{list-style-type:disc;padding-left:10px;margin:0px 0px 15px 15px;line-height:26px;}
ol li span{color:#3b3f46;}
table{border-collapse:collapse;border-spacing:0;}
p{margin:0px 0px 15px 0px;color:#3b3f46;line-height:26px;font-family:HelRoman, sans-serif;}
h1{font-size:28px;}
h2{font-size:24px}
h3{font-size:22px;margin-bottom:8px;}
h1, h2, h3, h4, h5, h6{font-family:HelThin, sans-serif;font-weight:normal;}
.block-all h1,
.block-all h2,
.block-all h3,
.block-all h4,
.block-all h5,
.block-all h6{color:#172338;font-size:20px;padding:15px 0;}
.clear{clear:both;}
a.btn-green,
button.btn-green{display:block;background:#00a651;border-radius:3px;border-bottom:solid 2px #00783b;text-align:center;font-family:HelRoman, sans-serif;font-size:14px;color:#fff;-webkit-transition:all 0.3s;transition:all 0.3s;}
a.btn-green:hover,
button.btn-green:hover{background:#00783b;}
a.btn-red,
button.btn-red{display:block;background:#fc2e36;border-radius:3px;border-bottom:solid 2px #bb0c13;text-align:center;font-family:HelRoman, sans-serif;font-size:14px;color:#fff;-webkit-transition:all 0.3s;transition:all 0.3s;}
a.btn-red:hover,
button.btn-red:hover{background:#bb0c13;}
.grey-border-bottom{border-bottom:solid 1px #c8c8c9;padding:25px 0;}
#wrapper{width:100%;min-height:100%;margin-bottom:-95px;}
.page-buffer, #footer{height:95px;}
#content{max-width:1450px;position:relative;margin:0 auto;}
#header{width:1450px;height:90px;background:#172338;box-shadow:0px 2px 0px rgba(23, 35, 56, 0.5);position:fixed;top:0px;z-index:100;}
#sidebar-left{height:100%;width:95px;background:#2b3648;position:fixed;z-index:99;padding-top:90px;}
#header a.logo{display:block;width:155px;height:52px;float:left;margin:15px 0px 0px 45px;}
#header ul.main-menu{display:block;float:left;height:90px;margin:0px 0px 0px 30px;}
#header ul.main-menu li{display:inline-block;margin:0;vertical-align:top;}
#header ul.main-menu li.separate{margin:0px;width:1px;height:60px;background:#232e41;display:inline-block;margin-top:15px}
#header ul.main-menu li a{display:inline-block;font-family:HelThin, sans-serif;font-size:16px;padding:0 24px;height:90px;line-height:88px;color:#fff;text-transform:uppercase;}
#header ul.main-menu li a span:first-child{display:inline-block;width:27px;height:27px;vertical-align:middle;line-height:30px;}
#header ul.main-menu li a:hover,
#header ul.main-menu li a.active{box-shadow:inset 0px 3px 0px #a5151c;}
#header ul.main-menu li a.menu-casino span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:0px 0px;}
#header ul.main-menu li a.menu-casino:hover span:first-child,
#header ul.main-menu li a.menu-casino.active span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:0px -27px;}
#header ul.main-menu li a.menu-games span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:-27px 0px;}
#header ul.main-menu li a.menu-games:hover span:first-child,
#header ul.main-menu li a.menu-games.active span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:-27px -27px;}
#header ul.main-menu li a.menu-bonuses span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:-54px 0px;}
#header ul.main-menu li a.menu-bonuses:hover span:first-child,
#header ul.main-menu li a.menu-bonuses.active span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:-54px -27px;}
#header ul.main-menu li a.menu-platforms span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:-81px 0px;}
#header ul.main-menu li a.menu-platforms:hover span:first-child,
#header ul.main-menu li a.menu-platforms.active span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:-81px -27px;}
#header ul.main-menu li a.menu-payments span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:-108px 0px;}
#header ul.main-menu li a.menu-payments:hover span:first-child,
#header ul.main-menu li a.menu-payments.active span:first-child{background:url(../img/header/menu.png) no-repeat;background-position:-108px -27px;}
#header ul.main-menu li a span:last-child{display:inline-block;vertical-align:middle;margin-left:10px;}
.select-country{float:right;width:240px;height:40px;margin:25px 30px 0px 0px;position:relative;}
.select-country-text{color:#7c8086;height:40px;line-height:40px;position:absolute;top:0px;left:0px;z-index:9;font-size:14px;width:240px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#2b3648;}
.select-country-text img{margin-right:5px;margin-left:15px;}
.sd-left{display:block;}
.sd-left li{display:block;}
.sd-left li span.sd-tab,
.sd-left li span.sd-tab-no-active{display:block;height:95px;cursor:pointer;box-shadow:inset -2px 0px 0px #3e4a5c;font-size:12px;color:#fff;text-align:center;-webkit-transition:all 0.3s;transition:all 0.3s;border-top:solid 1px #3e4a5c;border-bottom:solid 1px #181e28;}
.sd-left li span.sd-tab-no-active{cursor:default;}
.sd-left li span.sd-tab.sd-inactive,
.sd-left li span.sd-tab-no-active.sd-inactive{background:#3c4656;}
.sd-left li span.sd-tab.sd-inactive i,
.sd-left li span.sd-tab-no-active.sd-inactive i{color:#5f6170;}
.sd-left li span.sd-tab.sd-inactive img,
.sd-left li span.sd-tab-no-active.sd-inactive img{-webkit-filter:grayscale(100%);filter:grayscale(100%);}
.sd-left li span.sd-tab.sd-active,
.sd-left li span.sd-tab-no-active.sd-active{background:#172338;box-shadow:inset 0px 1px 0px #0d131f, inset 0px -1px 0px #181e28;}
.sd-left li span.sd-tab span,
.sd-left li span.sd-tab-no-active span{display:inline-block;margin-top:25px;}
.sd-left li span.sd-tab span img,
.sd-left li span.sd-tab-no-active span img{margin-bottom:4px;}
.sd-left li span.sd-tab span i,
.sd-left li span.d-tab-no-active span i{font-style:normal;}
#main-content{padding:120px 10px 10px 130px;background:#fff;}
.show-sidebar{width:435px;height:100%;position:fixed;top:90px;background:rgba(14, 25, 44, 0.9);z-index:90;-webkit-transform:translate(-340px, 0px);transform:translate(-340px, 0px);-webkit-transition:ease 0.3s;transition:ease 0.3s;overflow:hidden;}
.show-sidebar.show-this-sd{-webkit-transform:translate(0px, 0px);transform:translate(0px, 0px);}
.show-sidebar-in{width:340px;height:100%;position:absolute;top:0px;right:0px;padding-bottom:90px;box-shadow:inset 4px 0px 3px rgba(0, 0, 0, 0.2);}
.left-overflow{width:calc((100% - 1450px)/2);height:100%;position:fixed;top:0px;left:0px;background:#edeef0;z-index:91;}
.sd-left-bottom{position:absolute;width:100%;left:0px;bottom:0px;}
.sd-left.sd-left-bottom li span.sd-tab-no-active{background:#172338;box-shadow:inset 0px 1px 0px #0d131f, inset 0px -1px 0px #181e28;}
#main-content .center{width:100%;}
#main-content .float-left{width:74%;float:left;}
#main-content .float-right{width:23.2%;float:right;}
.main-slider .slider-text{position:absolute;top:0px;left:0px;}
.main-slider ul.bxslider li img{width:100%;border-radius:5px;}
.slider-text{padding:40px 0px 30px 30px;font-family:HelThin, sans-serif;color:#fff;}
.slider-text h1{font-size:44px;line-height:54px;}
.slider-text h1 span{font-family:HelMedium, sans-serif;text-transform:uppercase;}
.slider-text h1 span span{color:#fc2e36;}
.slider-text-sp{font-size:12px;color:#a2a2a4;display:inline-block;padding:20px 0 35px 0;line-height:18px;}
.slider-text a.btn-green{width:200px;height:50px;line-height:46px;}
.block-all{margin:0px 0px 25px;}
.bl-red-title span.bl-img{display:block;width:54px;height:54px;background:url(../img/icons-title/icons-red.png) 0px 0px no-repeat;float:left;}
.block-sidebar .bl-red-title span.bl-img{width:51px;height:51px;}
.fr-right-color .block-sidebar .bl-red-title span.bl-img{display:block;width:54px;height:54px;background:url(../img/icons-title/icons-red.png) 0px 0px no-repeat;float:left;}
.fr-right-color .block-sidebar .bl-t-title span{color:#fc2e36;}
.fr-right-color .block-sidebar .bl-t-title{border-bottom:1px solid #c5c6c8;}
.fr-right-color .block-sidebar .bl-red-title span.bl-img.bl-img-cherry{background-position:-108px 0;}
#main-content .fr-right-color .block-casino .float-right a.btn-red{color:#fff;width:90px;height:35px;line-height:34px;}
.bl-red-title .bl-t-title{float:right;width:calc(100% - 70px);border-bottom:solid 1px #c5c6c8;padding-bottom:6px;margin-top:10px;text-align:center;}
.bl-red-title .bl-t-title span{float:left;display:inline-block;font-family:HelThin, sans-serif;font-size:24px;color:#fc2e36;text-transform:uppercase;}
.bl-red-title .bl-t-title span h1,
.bl-red-title .bl-t-title span h2,
.bl-red-title .bl-t-title span h3{font-size:24px;padding:0;color:#fc2e36;}
.bl-red-title .bl-t-title a{display:inline-block;float:right;margin-top:6px;text-transform:uppercase;}
.bl-red-title .bl-t-title a:hover{text-decoration:underline;}
.bl-red-title-normal{padding-bottom:20px;}
.bl-red-title-normal > span{font-size:24px;color:#fc2e36;text-transform:uppercase;font-family:HelThin, sans-serif;}
.bl-red-title-normal img{float:right;}
.games{padding:20px 0px;border-radius:8px;}
.games .game{width:25%;float:left;text-align:center;margin:0px 0px 25px 0px;}
.games .game:nth-child(4n+1){text-align:left;}
.games .game:nth-child(4n){text-align:right;}
.games .game .game-in{width:95%;display:inline-block;background:#edeef0;border-radius:5px;box-shadow:inset 0px -2px 0px #c8c8c9;text-align:center;min-height:256px;vertical-align:top;}
.games .game .game-in span.game-title{display:block;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#172338;font-size:16px;padding:6px 0;}
.games .game .game-in img{width:100%;display:block;}
.games .game .game-in span.game-stars{background:url(../img/games/star.png) left top no-repeat;padding-left:25px;font-size:18px;font-weight:bold;}
.games .game .game-in span.game-set{background:url(../img/games/set.png) left center no-repeat;padding-left:25px;font-size:18px;font-weight:bold;}
.games .game .game-in span.gm-untitle{display:inline-block;color:#88888d;margin:15px 0px;line-height:18px;}
.games .game .game-in span.game-stars span{color:#172338;}
.games .game .game-in a.btn-red{width:90%;margin:0 auto 15px;height:35px;line-height:34px;}
.block-sidebar{width:100%;margin-bottom:40px;}
.block-sidebar.sidebar-banner img{width:100%;border-radius:5px;}
.block-sidebar span.bl-img{background:url("../img/sidebar/icons-green.png") no-repeat;}
.block-sidebar .bl-t-title span{color:#00a651;font-size:16px;}
.block-sidebar .bl-t-title{border-bottom:1px solid #7db89a;}
.block-sidebar .bl-red-title{margin-bottom:15px;}
#main-content .block-casino{margin-bottom:20px;}
#main-content .block-casino a.sidebar-type-link,
#main-content .block-casino a.sidebar-type-link p{-webkit-transition:all 0.2s;transition:all 0.2s;}
#main-content .block-casino a.sidebar-type-link:hover,
#main-content .block-casino a.sidebar-type-link:hover p{color:#c6c6c6;}
#main-content .block-casino .float-left{width:28%;float:left;}
#main-content .block-casino .float-right{width:68%;float:right;color:#3b3f46;}
#main-content .block-casino a .float-right,
#main-content .block-casino a .float-right span{-webkit-transition:all 0.2s;transition:all 0.2s;}
#main-content .block-casino a:hover .float-right,
#main-content .block-casino a:hover .float-right span{color:#fc2e36;}
#main-content .block-casino .float-left img{width:100%;border-radius:5px;}
#main-content .block-casino .float-right span{display:block;font-size:18px;color:#172338;padding-bottom:6px;}
#main-content .block-casino .float-right p{line-height:20px;margin-bottom:0px;}
#main-content .block-casino-all{border-top:solid 1px #d8d8d8;text-align:right;padding-top:15px;}
#main-content .block-casino-all a{display:inline-block;color:#172338;font-size:14px;border-bottom:solid 1px #c6c6c6;padding-bottom:3px;-webkit-transition:all 0.3s;transition:all 0.3s;}
#main-content .block-casino-all a:hover{color:#c6c6c6;}
#main-content .block-casino .float-right a{color:#fc2e36;display:block;margin-top:15px;}
#main-content .block-casino .float-right a:hover{text-decoration:underline;}
.form-hide{width:30px;height:30px;-webkit-transition:all 0.3s;transition:all 0.3s;cursor:pointer;display:none;float:right;margin:30px 30px 0px 0px;position:relative;}
.form-hide .mobile-menu-btn{cursor:pointer;display:block;height:30px;position:absolute;right:0px;top:0px;-webkit-transform:translate3d(0px, 0px, 0px);transform:translate3d(0px, 0px, 0px);-webkit-transition:all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;transition:all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;width:30px;z-index:2;}
.form-hide .mobile-menu-btn .bar.bar-1{top:4px;-webkit-transform-origin:left center 0;transform-origin:left center 0;}
.form-hide .mobile-menu-btn .bar.bar-2{top:14px;}
.form-hide .mobile-menu-btn .bar.bar-3{bottom:4px;-webkit-transform-origin:left center 0;transform-origin:left center 0;}
.form-hide .mobile-menu-btn .bar{background:none repeat scroll 0 0 #fff;height:3px;left:0;position:absolute;-webkit-transition:all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;transition:all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;width:100%;}
.menu-open .bar.bar-1{-webkit-transform:rotate(45deg);transform:rotate(45deg);width:27px;}
.menu-open .bar.bar-2{display:none;}
.menu-open .bar.bar-3{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);width:27px;}
.menu-open .mobile-menu-btn{right:-4px;}
.game-type{float:left;width:46%;}
.block-all .game-type{margin-right:2.5%;}
.block-all .game-type:nth-child(4){margin-right:0px;}
.game-type.game-type-img img{width:100%;border-radius:5px;}
.block-all .game-type .rating-progress{padding-top:15px;padding-bottom:22px;}
.block-all .game-type .rating-progress div:nth-child(1){width:76%;float:left;height:3px;background:#8e8e93;margin-top:6px;border-radius:2px;}
.block-all .game-type .rating-progress div:nth-child(1) span{background:#fc2e36;width:88%;display:block;height:3px;border-radius:2px;}
.block-all .game-type .rating-progress div:nth-child(2){width:20%;float:right;color:#3889b4;}
.block-all .game-type span{display:block;}
.block-all .game-type img.game-type-stars{margin-top:10px;}
.game-type.game-type-avtomat img:nth-child(1){display:block;margin:0 auto;padding:8px 10px;border:solid 1px #c6c6cc;border-radius:5px;}
.game-type.game-type-avtomat img:nth-child(2){display:block;margin:14px auto 10px;}
.game-type.game-type-avtomat a{display:block;text-align:center;color:#3889b4;}
.game-type.game-type-avtomat a:hover{text-decoration:underline;}
.game-type.game-type-heart img{display:block;margin:0 auto;margin-bottom:25px;}
.game-type.game-type-heart a{display:block;text-align:center;color:#3889b4;margin:12px 0;}
.game-type.game-type-heart a:hover{text-decoration:underline;}
.game-type.game-type-heart span{color:#6c6c7a;display:block;text-align:center;}
.block-all.big-game img{width:100%;border-radius:8px;}
.block-all.under-game-links a{color:#3889b4;display:inline-block;margin:0 18px;font-size:14px;}
.block-all.under-game-links a:hover{text-decoration:underline;}
.table-game .table-game-col{float:left;width:50%;}
.table-game .table-game-col .table-game-row{height:30px;}
.table-game .table-game-col .table-game-row .table-game-row-in:first-child{float:left;width:60%;padding:12px 0;}
.table-game .table-game-col .table-game-row .table-game-row-in:last-child{float:left;width:40%;padding:12px 0;}
.table-game .table-game-col .table-game-row span{display:inline-block;vertical-align:middle;}
.table-game .table-game-col .table-game-row .table-game-row-in:first-child span{margin-left:10px;}
.table-game .table-game-col .table-game-row .table-game-row-in:last-child span{color:#3889b4;}
.table-game .table-game-col .table-game-row .table-game-row-in:last-child a{width:130px;height:30px;line-height:30px;}
i.icon-chr{display:inline-block;width:19px;height:19px;background:url(../img/icons-characteristics.png) no-repeat;vertical-align:middle;}
i.chr1{background-position:0px 0px;}
i.chr2{background-position:-19px 0px;}
i.chr3{background-position:-38px 0px;}
i.chr4{background-position:-57px 0px;}
i.chr5{background-position:-76px 0px;}
i.chr6{background-position:-95px 0px;}
i.chr7{background-position:-114px 0px;}
i.chr8{background-position:-133px 0px;}
i.chr9{background-position:-152px 0px;}
i.chr10{background-position:-171px 0px;}
i.chr11{background-position:-190px 0px;}
i.chr12{background-position:-209px 0px;}
i.chr13{background-position:-228px 0px;}
i.chr14{background-position:-247px 0px;}
i.chr15{background-position:-266px 0px;}
i.chr16{background-position:-285px 0px;}
i.chr17{background-position:-304px 0px;}
i.chr18{background-position:0px -19px;}
i.chr19{background-position:-19px -19px;}
i.chr20{background-position:-38px -19px;}
i.chr21{background-position:-57px -19px;}
i.chr22{background-position:-76px -19px;}
i.chr23{background-position:-95px -19px;}
i.chr24{background-position:-114px -19px;}
i.chr25{background-position:-133px -19px;}
i.chr26{background-position:-152px -19px;}
i.chr27{background-position:-171px -19px;}
i.chr28{background-position:-190px -19px;}
i.chr29{background-position:-209px -19px;}
i.chr30{background-position:-228px -19px;}
i.chr31{background-position:-247px -19px;}
i.chr32{background-position:-266px -19px;}
i.chr33{background-position:-285px -19px;}
i.chr34{background-position:-304px -19px;}
i.chr35{background-position:0px -38px;}
i.chr36{background-position:-19px -38px;}
i.chr37{background-position:-38px -38px;}
i.chr38{background-position:-57px -38px;}
i.chr39{background-position:-76px -38px;}
i.chr40{background-position:-95px -38px;}
i.chr41{background-position:-114px -38px;}
i.chr42{background-position:-133px -38px;}
i.chr43{background-position:-152px -38px;}
i.chr44{background-position:-171px -38px;}
i.chr45{background-position:-190px -38px;}
i.chr46{background-position:-209px -38px;}
i.chr47{background-position:-228px -38px;}
i.chr48{background-position:-247px -38px;}
i.chr49{background-position:-266px -38px;}
i.chr50{background-position:-285px -38px;}
.game-small-pr{text-align:center;padding-top:15px;padding-bottom:15px;}
.game-small-pr img{width:45%;display:inline-block;margin:0 5px;}
.roll-up-block{color:#172338;font-size:14px;cursor:pointer;}
.roll-up-block span.roll-up-block-arrow{display:inline-block;background:url(../img/game/arrows.png) no-repeat;width:14px;height:14px;vertical-align:middle;}
.roll-up-block.roll-up-reverse span.roll-up-block-arrow{background-position:0px -14px;}
.roll-up-block:hover{color:#3b3f46;}
.roll-up-block span:last-child{text-decoration:underline;display:inline-block;vertical-align:middle;margin-left:4px;}
.block-all .roll-block{padding-top:20px;}
.block-all .roll-block span.red-line{height:2px;width:42px;background:#fc2e36;display:inline-block;}
.block-all .roll-block div.roll-title{font-family:HelThin,sans-serif;font-size:20px;color:#172338;padding:15px 0;}
#main-content .roll-blocks .float-left{width:48%;float:left;}
#main-content .roll-blocks{padding-bottom:15px;}
#main-content .roll-blocks .float-right{width:48%;float:right;}
#main-content .roll-blocks .float-left span,
#main-content .roll-blocks .float-right span{vertical-align:top;display:inline-block;margin:0 3px;line-height:25px;text-align:center;}
#main-content .roll-blocks .float-left span,
#main-content .roll-blocks .float-right span{background:#EDEEF0;padding:0 6px;border-radius:5px;}
#main-content .roll-blocks .float-left span:last-child,
#main-content .roll-blocks .float-right span:last-child{background:#ffd200;padding:0 6px;border-radius:5px;}
#main-content .roll-blocks .float-left p,
#main-content .roll-blocks .float-right p{padding-top:0px;padding-bottom:0px;margin-bottom:15px;}
.roll-blocks.roll-videos{text-align:center;}
.roll-blocks.roll-videos .roll-video-block{display:inline-block;width:46%;margin:0 10px;}
.roll-blocks.roll-videos .roll-video-block img{width:100%;}
.game-type-left{float:left;width:50%;}
.game-type-right{float:right;width:50%;}
span.text-blue{color:#3889b4;}
.block-all .game-type.casino-page span{display:inline-block;}
.block-all .game-type.casino-page span.span-rate-casino{padding:7px 0;}
.game-type.game-type-casino span.text-blue{display:inline-block;}
.game-type.game-type-casino img{padding-bottom:18px;padding-top:4px;}
.game-type.game-type-casino span.span-rate-casino{padding:18px 0;}
.game-type.game-type-rate-casino{text-align:center;}
.game-type.game-type-rate-casino span.gt-c-span{display:block;text-align:center;}
.game-type.game-type-rate-casino span.gt-c-span img{vertical-align:top;margin-right:4px;}
.game-type.game-type-rate-casino span.gt-c-span span{display:inline-block;}
.game-type.game-type-rate-casino span.gt-c-span:nth-child(2){background:rgba(0, 0, 0, 0) url("../img/games/star.png") no-repeat scroll left top;font-size:18px;padding-left:25px;display:inline-block;color:#88888d;margin:12px 0;}
.game-type.game-type-rate-casino span.gt-c-span:nth-child(2) span{color:#172338;}
.game-type.game-type-rate-casino a{width:192px;height:48px;margin:0 auto;line-height:46px;width:90%;}
.block-all.chr-casino-block .table-game-col{height:auto;clear:both;}
.block-all.chr-casino-block .table-game-col .table-game-row:nth-child(1){width:220px;float:left;padding:15px 0;display:inline-block;vertical-align:top;}
.block-all.chr-casino-block .table-game-col .table-game-row:nth-child(1) span{display:inline-block;vertical-align:middle;margin-left:10px;}
.block-all.chr-casino-block .table-game-col .table-game-row:nth-child(2){width:calc(100% - 230px);float:right;padding:15px 0;display:inline-block;vertical-align:top;}
.block-all.grey-border-bottom.chr-casino-block{padding-top:0px;}
.block-all.chr-casino-block .table-game-col .table-game-row:nth-child(2) img{margin:0px 15px 15px 0px;vertical-align:middle;}
.block-all.chr-casino-block .table-game-col .table-game-row .casino-rate{background:#8e8e93 none repeat scroll 0 0;border-radius:2px;float:left;height:3px;margin-top:6px;width:200px;}
.block-all.chr-casino-block .table-game-col .table-game-row .casino-rate span{background:#fc2e36 none repeat scroll 0 0;border-radius:2px;display:block;height:3px;width:98%;}
.block-all.chr-casino-block .table-game-col .table-game-row .casino-rate + div{color:#3889b4;float:left;margin-left:10px;margin-right:10px;}
.block-all.chr-casino-block .red-line{background:#fc2e36 none repeat scroll 0 0;display:inline-block;height:2px;width:42px;}
.block-all.chr-casino-block .chr-other-title{color:#172338;font-family:HelThin,sans-serif;font-size:20px;padding:15px 0;}
.block-all.chr-casino-block .bl-red-title-normal a{float:right;text-transform:uppercase;line-height:38px;}
#main-content .chr-comments .float-left{text-align:left;width:50%;}
#main-content .chr-comments .float-right{text-align:right;width:50%;}
.chr-comments .chr-comment p{padding:25px;}
.chr-comments .chr-comment span{display:inline-block;vertical-align:middle;margin-left:4px;}
.chr-comments .chr-comment p a{color:#fc2e36;}
.chr-comments .chr-comment p a:hover{text-decoration:underline;}
.line{width:100%;height:1px;background:#c5c6c8;margin:25px 0;}
.main-nav{display:block;margin-top:10px;}
.main-nav li{display:inline-block;margin-right:4px;}
.main-nav li a{display:inline-block;width:38px;height:38px;font-size:14px;color:#2b3648;border:solid 2px #bdbdbd;border-radius:5px;text-align:center;line-height:34px;-webkit-transition:all 0.2s;transition:all 0.2s;}
.main-nav li a:hover,
.main-nav li.main-nav-current a{background:#2b3648;border:solid 2px #2b3648;color:#fff;}
.main-slider{margin-bottom:15px;}
.bl-red-title .bl-t-title div.bl-all-count{display:inline-block;padding-top:8px;}
.bl-sort{float:right;}
.bl-sort a{display:inline-block;width:16px;height:14px;background:url(../img/sort-icon.png) no-repeat;margin-left:5px;float:none !important;}
.bl-sort a:first-child{background-position:0px 0px;}
.bl-sort a:last-child{background-position:-16px 0px;}
.bl-sort a.bl-sort-active:first-child{background-position:0px -14px;}
.bl-sort a.bl-sort-active:last-child{background-position:-16px -14px;}
.games.game-horizontal .game{float:none;width:100%;}
.games.game-horizontal .game:nth-child(4n+1){text-align:left;}
.games.game-horizontal .game .game-in{padding:1.5%;width:100%;float:none;}
.games.game-horizontal .game .game-in .gh-main-img{width:22%;float:left;}
.games.game-horizontal .game .game-in .gh-main-text{float:left;width:50%;text-align:left;margin:0 2%;font-size:14px;line-height:20px;}
.games.game-horizontal .game .game-in .gh-main-text .gh-text-title{font-size:16px;color:#172338;}
.games.game-horizontal .game .game-in .gh-main-text .line{margin:8px 0;}
.games.game-horizontal .game .game-in .gh-main-img img{border-radius:5px;}
#main-content .gh-text-floats .float-left{float:left;width:60%;}
#main-content .gh-text-floats .float-right{float:right;width:38%;}
.games.game-horizontal .game .game-in .gh-main-btn{float:right;width:22%;}
.games.game-horizontal .gt-c-span img{width:16px;height:16px;display:inline-block;vertical-align:top;margin-right:2px;}
.games.game-horizontal .gt-c-span{display:block;}
.games.game-horizontal .gh-main-btn span.gt-c-span:nth-child(2){background:rgba(0, 0, 0, 0) url(../img/games/star.png) no-repeat scroll left top;color:#88888d;display:inline-block;font-size:18px;margin:12px 0;padding-left:25px;}
.games.game-horizontal .gh-main-btn span.gt-c-span:nth-child(2) span{color:#172338;}
.games.game-horizontal .game{margin:0px 0px 10px 0px;}
.games.game-horizontal .main-nav{margin-top:30px;}
#footer .footer-center{max-width:1450px;position:relative;margin:0 auto;background:#e0e0e1;height:95px;box-shadow:inset 0px 1px 0px #c4c8cf;}
#footer .footer-center ul{display:block;float:left;margin-left:105px;}
#footer .footer-center ul li{display:inline-block;margin:0 25px;padding-top:42px;}
#footer .footer-center ul li a{display:inline-block;font-family:HelRoman, sans-serif;font-size:16px;text-transform:uppercase;color:#172338;border-bottom:solid 1px #9da2ab;padding-bottom:1px;-webkit-transition:all 0.3s;transition:all 0.3s;}
#footer .footer-center ul li a:hover,
#footer .footer-center ul li a.active{color:#9da2ab;}
.footer-copyright{display:inline-block;float:right;padding-top:42px;font-size:14px;color:#7d8085;margin-right:20px;}
.block-all.bonus-page .game-type-left{width:60%;}
.block-all.bonus-page .game-type-right{width:40%;}
.block-all.bonus-page .game-type.game-type-img{width:38%;}
.block-all.bonus-page .game-type.casino-page{width:56%;}
.block-all.bonus-page .game-type.casino-page div{margin:8px 0;}
.block-all.bonus-page .game-type.game-type-casino{width:30%;}
.block-all.bonus-page .game-type.game-type-rate-casino{width:60%;float:right;}
.block-all.bonus-page .game-type.game-type-casino img{width:100%;}
.bl-red-title span.bl-img.bl-img-cherry{background-position:-108px 0px;}
.bl-red-title span.bl-img.bl-img-mail{background-position:-162px 0;}
.bl-red-title span.bl-img.bl-img-map{background-position:-216px 0;}
.contact-page .block-all .contacts-select{padding:12px 15px;background:#d7d9dc;border-radius:5px;color:#172338;font-family:HelThin, sans-serif;font-size:18px;}
#main-content .contact-page .block-all .contacts-select .float-left-c{width:260px;height:40px;line-height:38px;float:left;}
#main-content .contact-page .block-all .contacts-select .float-right-c{width:calc(100% - 260px);float:right;}
#main-content .contact-page .block-all .contacts-select .float-right-c select{width:100%;}
.contacts-form{padding:30px 0 15px;}
.contacts-form input,
.contacts-form textarea{font-family:HelRoman, sans-serif;font-size:14px;}
.contacts-form .label.cf-theme{float:left;width:48%;}
.contacts-form .label.cf-mail{float:right;width:48%;}
.contacts-form .label.cf-theme input,
.contacts-form .label.cf-mail input{width:100%;border-radius:5px;border:solid 1px #d7d9dc;padding:15px;color:#172338;}
.contacts-form .label.cf-post{padding-top:15px;}
.contacts-form .label.cf-post textarea{width:100%;padding:15px;border:solid 1px #d7d9dc;border-radius:5px;resize:none;color:#172338;height:140px;}
.contacts-form .label.cf-button{padding-top:30px;}
.contacts-form .label.cf-button span{color:#7f8185;font-size:14px;display:block;float:left;margin-top:15px;}
.contacts-form .label.cf-button button{display:block;float:right;border:0 none;border-bottom:solid 2px #bb0c13;min-width:200px;height:50px;cursor:pointer;}
.block-all.contacts-map img{width:100%;}
.block-sidebar .bl-red-title span.bl-img.bl-map{background-position:-51px 0px;}
.block-sidebar .bl-red-title span.bl-img.bl-team{background-position:-102px 0px;}
#main-content .float-right.contact-page .block-casino span{font-weight:bold;}
.news-page .bl-red-title span.bl-img{background-position:-270px 0px;}
.news-page .games.game-horizontal .game .game-in .news-block{float:right;width:76%;text-align:left;}
.news-page .games.game-horizontal .game .game-in .nb-title{color:#172338;font-size:16px;display:block;}
.news-page .games.game-horizontal .game .game-in .nb-text{margin:14px 0;}
#main-content .news-page .games.game-horizontal .game .game-in .nb-floats .float-left{width:160px;}
#main-content .news-page .games.game-horizontal .game .game-in .nb-floats .float-right{width:calc(100% - 170px);text-align:right;}
.news-page .games.game-horizontal .game .game-in .nb-floats li{display:inline-block;}
.news-page .games.game-horizontal .game .game-in .nb-floats a{display:inline-block;padding-left:20px;vertical-align:middle;}
.news-page .games.game-horizontal .game .game-in .nb-floats a.nb-link1{background:url(../img/news/icon1.png) no-repeat;color:#3b3f46;}
.news-page .games.game-horizontal .game .game-in .nb-floats a.nb-link2{background:url(../img/news/icon2.png) no-repeat;}
.news-page .games.game-horizontal .game .game-in .nb-floats a.nb-link3{background:url(../img/news/icon3.png) no-repeat;}
.news-page .games.game-horizontal .game .game-in .nb-floats a.nb-link4{background:url(../img/news/icon4.png) no-repeat;color:#414d5c;}
.news-page .games.game-horizontal .game .game-in .nb-floats a.nb-link5{background:url(../img/news/icon5.png) no-repeat;}
.news-page .games.game-horizontal .game .game-in .nb-floats .float-right li{margin-left:6px;}
.news-page .block-all.chr-casino-block .games{padding:0px;}
.news-page .block-all.chr-casino-block .games .chr-other-title{padding-top:0px;}
.new-open-img{width:30%;float:left;margin:0px 15px 10px 0px;}
.new-open-img img{border-radius:5px;width:100%;}
.new-open-main{width:100%;margin:20px 0;}
.new-open-main img{width:100%;}
#main-content .news-author .float-left{width:50%;}
#main-content .news-author .float-right{width:50%;text-align:right;}
.news-author a{display:inline-block;padding-left:20px;vertical-align:middle;}
#main-content .news-author .float-right a{margin-left:15px;}
.news-author a.nb-link1{background:url(../img/news/icon1.png) no-repeat;color:#3b3f46;}
.news-author a.nb-link2{background:url(../img/news/icon4.png) no-repeat;color:#3b3f46;}
.news-author a.nb-link3{background:url(../img/news/icon6.png) no-repeat;}
.pay-span{display:block;padding:15px 0;}
.float-left.pay-method-open .block-all.bonus-page .game-type.casino-page{}
.float-left.pay-method-open .block-all.bonus-page .game-type-left{width:72%;}
.float-left.pay-method-open .block-all.bonus-page .game-type-right{width:24%;}
.float-left.pay-method-open .block-all.bonus-page .game-type-right .game-type.game-type-rate-casino{width:100%;}
.float-left.pay-method-open .block-all.bonus-page .game-type-right .game-type.game-type-rate-casino span{font-size:16px;color:#172338;font-weight:bold;padding:3px 0;}
.bl-red-title span.bl-img.bl-img-platform{background-position:-324px 0px;}
.float-left.pay-method-open .block-all.bonus-page .game-type-right .game-type.game-type-rate-casino .gt-c-span{font-weight:normal;color:#3b3f46;}
.float-left.pay-method-open .block-all.bonus-page .game-type-right .game-type.game-type-rate-casino .gt-c-span:last-child{background:url(../img/games/star.png) no-repeat scroll left center;color:#88888d;display:inline-block;font-size:18px;margin:6px 0;padding-left:25px;}
.float-left.pay-method-open .block-all.bonus-page .game-type-right .game-type.game-type-rate-casino .gt-c-span:last-child span{padding:0px;}
.sb-in-filters{display:block;color:#7c828d;padding:20px 25px;overflow-y:scroll;position:relative;height:100%;margin-right:-18px;}
.sb-in-filters.filters-show{display:block !important;}
.sb-title{font-size:18px;text-transform:uppercase;padding-bottom:10px;}
.sb-in-filters .label{padding:15px 0;}
.sb-in-filters .label span.sb-label-title{display:block;padding-bottom:10px;}
.sb-in-filters button{border:0 none;border-bottom:2px solid #00783b;width:100%;cursor:pointer;height:50px;font-size:16px;}
.chb-line{padding:10px 0 0;}
.chb-line label,
.radio-line label{padding-right:10px;cursor:pointer;color:#fff;}
.radio-line label{padding-right:20px;display:inline-block;vertical-align:middle;}
.sb-in-filters .label input{border-radius:5px;color:#fff;font-family:HelRoman, sans-serif;font-size:14px;height:40px;line-height:40px;background:#2b3648;border:0 none;padding:0px 15px;width:100%;}
.sb-in-filters .label .sort-on{display:inline-block;vertical-align:middle;margin-left:15px;}
.sb-in-filters .label .sort-on li{display:inline-block;}
.sb-in-filters .label span.sort-title{width:140px;display:inline-block;}
.sb-in-filters .label .sort-on span{cursor:pointer;display:inline-block;width:50px;height:50px;background:#2c374a;border-radius:8px;}
.sb-in-filters .label .sort-on.sort-pop span.sort-in{}
.sb-in-filters .label .sort-on.sort-pop span.sort-stars-active-top{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_stars_active-top.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-pop span.sort-stars-active-bot{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_stars_active-bot.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-pop span.sort-stars-no-top{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_stars_no-top.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-pop span.sort-stars-no-bot{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_stars_no-bot.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-new span.sort-in{}
.sb-in-filters .label .sort-on.sort-new span.sort-new-active-top{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_new_active-top.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-new span.sort-new-active-bot{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_new_active-bot.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-new span.sort-new-no-top{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_new_no-top.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-new span.sort-new-no-bot{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_new_no-bot.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-alph span.sort-in{}
.sb-in-filters .label .sort-on.sort-alph span.sort-alph-active-top{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_a_active-top.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-alph span.sort-alph-active-bot{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_a_active-bot.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-alph span.sort-alph-no-top{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_a_no-top.png) center no-repeat;}
.sb-in-filters .label .sort-on.sort-alph span.sort-alph-no-bot{box-shadow:inset -1px 1px 0px #445164;background:#354257 url(../img/left/sort_a_no-bot.png) center no-repeat;}
#main-content .contacts-block .float-left{float:left;width:49%;}
#main-content .contacts-block .float-left img{width:100%;}
#main-content .contacts-block .float-right{float:right;width:48%;}
#main-content .contacts-block .float-right a.btn-green{width:200px;height:50px;line-height:46px;}
.dropdown-ch ul{margin:-1px 0 0 0;}
.dropdown-ch .mutliSelect{position:relative;}
.dropdown-ch a,
.dropdown-ch a:visited{color:#fff;text-decoration:none;outline:none;font-size:14px;}
.dropdown-ch a.select-check{background:#2b3648;display:block;min-height:40px;line-height:40px;padding:0 45px 0 15px;overflow:hidden;border:0;width:100%;border-radius:5px;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;position:relative;}
.dropdown-ch a p{display:none;min-height:40px;line-height:40px;color:#fff;margin:0;}
.dropdown-ch a.select-check:hover{background:rgba(72, 89, 116, 0.3);}
.dropdown-ch a.select-check span, .multiSel span{cursor:pointer;display:inline-block;padding:0 3px 2px 0;}
.dropdown-ch ul{background:#2b3648;border:0;color:#fff;display:none;left:0px;position:absolute;top:6px;width:100%;list-style:none;overflow:auto;border-radius:5px;z-index:90;}
.dropdown-ch ul li{display:block;}
.dropdown-ch ul li label{display:block;cursor:pointer;padding:10px;}
.dropdown-ch span.value{display:none;}
.dropdown-ch ul li a{padding:5px;display:block;}
.dropdown-ch ul li a:hover{background-color:#fff;}
.dropdown-ch .multi-arrow{border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #6c6c7a;position:absolute;right:12px;top:18px;}
.bn-percent{height:84px;width:100%;z-index:50;line-height:112px;position:relative;margin-top:-84px;font-size:28px;font-weight:bold;color:#ffd200;background:rgba(33,44,62,0);background:-moz-linear-gradient(top, rgba(33,44,62,0) 0%, rgba(33,44,62,0.78) 50%, rgba(33,44,62,1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,44,62,0)), color-stop(50%, rgba(33,44,62,0.78)), color-stop(100%, rgba(33,44,62,1)));background:-webkit-linear-gradient(top, rgba(33,44,62,0) 0%, rgba(33,44,62,0.78) 50%, rgba(33,44,62,1) 100%);background:-o-linear-gradient(top, rgba(33,44,62,0) 0%, rgba(33,44,62,0.78) 50%, rgba(33,44,62,1) 100%);background:-ms-linear-gradient(top, rgba(33,44,62,0) 0%, rgba(33,44,62,0.78) 50%, rgba(33,44,62,1) 100%);background:linear-gradient(to bottom, rgba(33,44,62,0) 0%, rgba(33,44,62,0.78) 50%, rgba(33,44,62,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#212c3e', endColorstr='#212c3e', GradientType=0);}
.block-game-bg{padding:25px 15px 15px;background:#edeef0;border-radius:10px;}
.flags-list a{display:inline-block;margin:0 2px 4px;padding:4px;background:#EDEEF0;border-radius:3px;}
.flags-list a img{width:30px;height:18px;}
.pay-method-list a{display:inline-block;padding:4px;margin:0 2px 4px;background:#EDEEF0;border-radius:3px;}
.block-all.big-game{position:relative;}
.block-all.big-game .bg-hover-game{display:block;position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(0, 0, 0, 0.8);border-radius:10px;visibility:hidden;-webkit-transition:all 0.3s;transition:all 0.3s;opacity:0;}
.block-all.big-game img:hover + .bg-hover-game,
.block-all.big-game .bg-hover-game:hover{display:block;visibility:visible;opacity:1;}
.block-all.big-game .bg-hover-game span{background:#00a651;color:#fff;text-transform:uppercase;font-size:16px;position:absolute;top:50%;left:50%;width:140px;text-align:center;height:50px;line-height:52px;border-radius:5px;margin:-25px 0 0 -70px;-webkit-transition:all 0.2s;transition:all 0.2s;cursor:pointer;}
.block-all.big-game .bg-hover-game span:hover{text-decoration:none;background:#00783b;}
.b-share-counter{color:#fff !important;font-size:14px !important;}
.block-all ul li.ya-share2__item{padding:0;}
.text-slider-h{display:block;font-size:44px;line-height:54px;}
.text-slider-h span{font-family:HelMedium,sans-serif;text-transform:uppercase;}
.text-slider-h span span{color:#fc2e36;}