body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.my-nav {
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

.my-dropdown-menu {
    top: 0;
    left: 100%;
}

.my-affix {
    background-color: #f5f5f5;
    /*z-index: 9999;*/
}

.my-affix-bttom {
    background-color: #D7D7D7;
    bottom: 0;
}